body{
    background-color: #141414;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: white;
}
h3{
    font-size: 1.3vw;
    line-height: 1.25vw;
    vertical-align: bottom;
    text-transform: uppercase;
    font-weight: 500;
 }

 img{
    width: 217px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 3px;
 }

 .pelis{
    white-space: nowrap;
    margin-bottom: 70px;
    margin-left: 50px;
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
 }
 .pelis-item{
   flex-shrink: 0;
   scroll-snap-align: start;
 }

 ul{
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
 }

 li{
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
   margin-top: 0;
   margin-right: 10px;
   cursor: pointer;
 }

app-films.topdiez > div > div > app-film:nth-child(1) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(3) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(5) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(7) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(9) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(11) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(13) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(15) > img{
   width: 316px !important;
   margin-right: -96px;
}
app-films.topdiez > div > div > app-film:nth-child(17) > img{
   width: 316px !important;
   margin-right: -96px;
}

app-films.topdiez > div > div > app-film:nth-child(19) > img{
   width: 316px !important;
   margin-right: -96px;
}
