body{
    background-color: #141414;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: white;
}
h3{
    font-size: 1.3vw;
    line-height: 1.25vw;
    vertical-align: bottom;
    text-transform: uppercase;
    font-weight: 500;
 }

 img{
    width: 217px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 3px;
 }

 .pelis{
    white-space: nowrap;
    margin-bottom: 70px;
    margin-left: 50px;
 }

 ul{
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
 }

 li{
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;
   margin-top: 0;
   margin-right: 10px;
   cursor: pointer;
 }

 app-films.topdiez > div > app-film:nth-child(2) > img{
   width: 236px !important;
   margin-right: -81px;
}
app-films.topdiez > div > app-film:nth-child(4) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(6) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(8) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(10) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(12) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(14) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(16) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(18) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film:nth-child(20) > img {
   width: 236px !important;
   margin-right: -81px;
   margin-left: -34px;
}
app-films.topdiez > div > app-film > img{
   width: 155px; 
}
